html {
  scroll-behavior: smooth;
}
body {
  font-feature-settings: "rlig" 1, "calt" 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
